<script>
  (function (algolia) {
    'use strict';
    algolia.noResultsTemplate = function noResultsTemplate({html, state}) {
      return html`<div class="aa-PanelLayout aa-Panel--scrollable">
        <p class="aa-NoResultsHeader">
          ${algolia.translation_helpers.no_result_for(state.query)}
        </p>
        <a class="aa-NoResultsLink" href="${window.Shopify.routes.root}search?q=">
          ${algolia.translations.allProducts}
        </a>
        <div class="search-nav-bottom">
          <div class="search-button">
            <a href="/collections/all-products">SHOP ALL</a>
          </div>
          <div class="search-nav-image">
          <div>“Buy your Jambys today.”</div>
          <div><img src="//jambys-chillwear.myshopify.com/cdn/shop/files/Vector_50x.png?v=1616020342"/></div>
          </div>
        </div>
      </div>`
    };
  })(window.algoliaShopify);
</script>
