<script>
  (function(algolia) {
    'use strict';

    algolia.mainProductsTemplate = function mainProductsTemplate({ html, state }, elements) {
      return html `<div class="aa-PanelLayout aa-Panel--scrollable test">
        <div class="aa-PanelSection">
          ${elements.products}
        </div>
        <div class="search-nav-bottom">
          <div class="search-button">
            <a href="/collections/all-products">SHOP ALL</a>
          </div>
          <div class="search-nav-image">
          <div>“Buy your Jambys today.”</div>
          <div><img src="//jambys-chillwear.myshopify.com/cdn/shop/files/Vector_50x.png?v=1616020342"/></div>
          </div>
        </div>
      </div>`
    };
  })(window.algoliaShopify);
</script>
