<div class='product-options-wrapper rel'>
  {% unless product.has_only_default_variant %}

    {% for option in product.options_with_values %}
      <div class='fieldset flex'>
        <div class='legend flex'>
            <div class='legend-label'>
              {{option.name}}
            </div>
        </div>
        <div class='flex flex-col'>
        <div class='radio-group size-swatches' data-index={{ product.id }}>
          {% for value in option.values %}

            {% assign normalized_value = value | downcase %}
            {% capture label %}
              {% case normalized_value %}
                {% when 'extra small' %}XS
                {% when 'small' %}S
                {% when 'medium' %}M
                {% when 'large' %}L
                {% when 'extra large' %}XL
                {% when 'extra extra large' %}XXL
                {% else %}{{value}}
              {% endcase %}
            {% endcapture %}

            {%- assign disabled = false -%}
            {%- if product.options.size == 1 -%}
              {%- unless product.variants[forloop.index0].available -%}
                {%- assign disabled = true -%}
              {%- endunless -%}
            {%- endif -%}
            {% assign checked = false %}
            {% if option.selected_value == value %}
              {% assign checked = true %}
            {% endif %}

            {% assign id = value | handleize | append: '-' | append: product.id %}
            {% assign newName = option.name | append: '-' | append: product.id %}

            {%
              render 'builder-component-radio' with
              id: id,
              label: label,
              value: value,
              name: newName,
              checked: checked,
              disabled: disabled
            %}
          {% endfor %}


        </div>
        {% if option.name == 'Size' and sizing_info != blank %}
            <div class="text-xs">{{sizing_info}}</div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endunless %}

</div>
