<div class="swatch-catergory--container {% if product.tags contains 'gender=unisex' %} {% else %} dn-i-gender{% endif %}">
  <div class="swatch-category--gender" swatch-category-gender>
    <button data-gender-category="men" aria-label="Gender Men"><span>Men</span></button>
    <button data-gender-category="unisex" aria-label="Gender Unisex"><span>Unisex</span></button>
    <button data-gender-category="women" aria-label="Gender Women"><span>Women</span></button>
  </div>
</div>