{% assign product_type_compare_label = collection.metafields.dtc.product_type_compare %}
    {% if product_type_compare_label != blank %}
        <div class="wide-container dtc-product-type-compare desktop">
            <div 
            class="img-content" 
            style="background-image: url({{ collection.metafields.dtc.product_type_compare_image | img_url: '560x' }})"
            >
            <div class="label">
                <p>{{ product_type_compare_label }}</p>
            </div>
        </div>

        <div class="slider-content swiper-container">
            <div class="swiper-wrapper">
                {% for object in collection.metafields.dtc.product_type_compare_products.value %}
                    {% render "product-type-compare-block",
                        product_url: object.link,
                        product_img: object.image,
                        product_heading: object.headline,
                        product_content: object.upper_content,
                        product_benefits: object.benefits.value %}
                {% endfor %}
            </div>

            <!-- Add Navigation -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>

        <script>
            var desktopSwiper = new Swiper('.dtc-product-type-compare.desktop .swiper-container', {
                slidesPerView: 3,
                spaceBetween: 16,
                navigation: {
                    nextEl: '.dtc-product-type-compare.desktop .swiper-button-next',
                    prevEl: '.dtc-product-type-compare.desktop .swiper-button-prev',
                }, 
                breakpoints: {
                    1920: {
                        slidesPerView: 5,
                        spaceBetween: 50,
                    },
                },
            });
        </script>
    </div>
{% endif %}