<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.96 22">
    <title>Cart</title>
    <g data-name="Layer 2">
        <g data-name="Layer 1">
            <path d="M22.7,8l-3,13H4.3l-3-13H22.7M24,7H0L3.51,22H20.45L24,7Z"/>
            <rect x="11.48" width="1" height="7"/>
        </g>
    </g>
</svg>
 -->

<svg class=" fill-current" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" ecl="true">
<title>Cart</title>
<path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.5C9 3.84315 10.3431 2.5 12 2.5C13.6569 2.5 15 3.84315 15 5.5V6H9V5.5ZM7 8V9.5C7 10.0523 7.44772 10.5 8 10.5C8.55228 10.5 9 10.0523 9 9.5V8H15V9.5C15 10.0523 15.4477 10.5 16 10.5C16.5523 10.5 17 10.0523 17 9.5V8H20V21H4V8H7ZM7 6V5.5C7 2.73858 9.23858 0.5 12 0.5C14.7614 0.5 17 2.73858 17 5.5V6H20C21.1046 6 22 6.89543 22 8V21C22 22.1046 21.1046 23 20 23H4C2.89543 23 2 22.1046 2 21V8C2 6.89543 2.89543 6 4 6H7Z" ecl="true"></path>
</svg>