<style>
{% unless section.settings.color_bg == blank %}
   .articles-section--og-rip {
      background-color: {{ section.settings.color_bg }};
   }
{% endunless %}
</style>

<div class="articles-section--og-rip">

<div class="w-full" ecl="true">

  <div class="px-9 max-w-sm mx-auto text-center mb-12" ecl="true">
    <a href="https://downtime.jambys.com/" target="_blank" aria-label="Downtime Mag" rel="noopener" ecl="true">
      <style ecl="true">
  #ImageWrapper-497359683669-downtime-logo {
    max-width: 250px;
  }
  #ImageWrapper-497359683669-downtime-logo::before {padding-top:19.183673469387756%;
  }
</style><div id="ImageWrapper-497359683669-downtime-logo" style="text-align:center; margin:auto;" data-image-id="497359683669" class="responsive-image__wrapper " ecl="true">
  <img id="Image-497359683669-downtime-logo" class="responsive-image__image object-cover lazyload fade-in" tabindex="-1" alt="" data-widths="[100,180,360,490]" data-aspectratio="5.212765957446808" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0090/4128/1109/files/Frame.png?v=1614883885" ecl="true">
</div>

<noscript ecl="true">
  <img class="lazyload fade-in object-cover" src="//cdn.shopify.com/s/files/1/0090/4128/1109/files/Frame_2048x2048.png?v=1614883885" alt="">
</noscript>

    </a>
    <div class="mt-4 text-blue text-xl opacity-75" style="max-width:300px; margin:auto;" ecl="true">
      <p ecl="true">Hard-hitting journalism from a company that makes shorts</p>

        <a class="mt-1 link" href="https://downtime.jambys.com/" target="_blank" rel="noopener" ecl="true">
          See all articles
        </a>

    </div>
  </div>

  <div class="embla" data-js-main-carousel="" data-js-carousel-align="start" data-js-carousel-loop="false" ecl="true">
    <div class="embla__viewport px-6" style="overflow-x: scroll;" ecl="true">
      <div class="embla__container -ml-3" ecl="true">

          <div class="embla__slide pl-3" ecl="true">
            <div class="embla__slide__inner" ecl="true">
              <a href="https://downtime.jambys.com/posts/best-movies-amazon-prime" target="_blank" rel="noopener" ecl="true">
                <div class="h-full p-6
                  bg-white rounded-xl
                  flex flex-col" style="min-width: 300px; width: 300px;" ecl="true">
                  <div class="text-center text-blue mb-2 flex-auto flex flex-col justify-center items-center" ecl="true">
                    <h3 class="font-heading text-xl sm:text-2xl mb-0" ecl="true">These Are the Best Movies Amazon Has Ever Made</h3>
                    <div class="opacity-75" ecl="true">Gregory James Wakeman</div>
                  </div>
                  <style ecl="true">
  #ImageWrapper-497359814741-downtime {
    max-width: 1000.0000000000001px;
  }
  #ImageWrapper-497359814741-downtime::before {padding-top:125.19999999999997%;
  }
</style><div id="ImageWrapper-497359814741-downtime" data-image-id="497359814741" class="responsive-image__wrapper h-2/3 w-full rounded-xl overflow-hidden" ecl="true">
  <img id="Image-497359814741-downtime" class="responsive-image__image object-cover lazyload fade-in" tabindex="-1" alt="" data-widths="[100,180,360,540,720,800,900,1000]" data-aspectratio="0.7987220447284346" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0090/4128/1109/files/603fcea60069e28025490d65_4-5-amazon-prime.png?v=1614884000" ecl="true">
</div>

<noscript ecl="true">
  <img class="lazyload fade-in object-cover" src="//cdn.shopify.com/s/files/1/0090/4128/1109/files/downtime-amazon.jpg?v=1646737465" alt="">
</noscript>

                </div>
              </a>
            </div>
          </div>

          <div class="embla__slide pl-3" ecl="true">
            <div class="embla__slide__inner" ecl="true">
              <a href="https://downtime.jambys.com/posts/billy-joel-zanzibar-tiktok" target="_blank" rel="noopener" ecl="true">
                <div class="h-full p-6
                  bg-white rounded-xl
                  flex flex-col" style="min-width: 300px; width: 300px;" ecl="true">
                  <div class="text-center text-blue mb-2 flex-auto flex flex-col justify-center items-center" ecl="true">
                    <h3 class="font-heading text-xl sm:text-2xl mb-0" ecl="true">The Magic Viral Ride of Billy Joel's "Zanzibar"</h3>
                    <div class="opacity-75" ecl="true">Corban Goble</div>
                  </div>
                  <style ecl="true">
  #ImageWrapper-497359945813-downtime {
    max-width: 1000.0px;
  }
  #ImageWrapper-497359945813-downtime::before {padding-top:125.0%;
  }
</style><div id="ImageWrapper-497359945813-downtime" data-image-id="497359945813" class="responsive-image__wrapper h-2/3 w-full rounded-xl overflow-hidden" ecl="true">
  <img id="Image-497359945813-downtime" class="responsive-image__image object-cover lazyload fade-in" tabindex="-1" alt="" data-widths="[100,180,360,540,720,800,900,1000]" data-aspectratio="0.8" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0090/4128/1109/files/600703c92b2cae179398d7b6_JAMBYS_Downtime_What_Tokkin_4_5_sea-shanty.jpg?v=1614884077" ecl="true">
</div>

<noscript ecl="true">
  <img class="lazyload fade-in object-cover" src="//cdn.shopify.com/s/files/1/0090/4128/1109/files/downtime-tiktok.jpg?v=1646737465" alt="">
</noscript>

                </div>
              </a>
            </div>
          </div>

          <div class="embla__slide pl-3" ecl="true">
            <div class="embla__slide__inner" ecl="true">
              <a href="https://downtime.jambys.com/posts/the-downtime-guide-to-k-pop" target="_blank" rel="noopener" ecl="true">
                <div class="h-full p-6
                  bg-white rounded-xl
                  flex flex-col" style="min-width: 300px; width: 300px;" ecl="true">
                  <div class="text-center text-blue mb-2 flex-auto flex flex-col justify-center items-center" ecl="true">
                    <h3 class="font-heading text-xl sm:text-2xl mb-0" ecl="true">The Downtime Guide to: K-pop</h3>
                    <div class="opacity-75" ecl="true">Quinci LeGardye</div>
                  </div>
                  <style ecl="true">
  #ImageWrapper-497360076885-downtime {
    max-width: 1000.0px;
  }
  #ImageWrapper-497360076885-downtime::before {padding-top:125.0%;
  }
</style><div id="ImageWrapper-497360076885-downtime" data-image-id="497360076885" class="responsive-image__wrapper h-2/3 w-full rounded-xl overflow-hidden" ecl="true">
  <img id="Image-497360076885-downtime" class="responsive-image__image object-cover lazyload fade-in" tabindex="-1" alt="" data-widths="[100,180,360,540,720,800,900,1000]" data-aspectratio="0.8" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0090/4128/1109/files/6037e0fbc265e2637b868936_4-5-k-pop-downtime-guide.png?v=1614884228" ecl="true">
</div>

<noscript ecl="true">
  <img class="lazyload fade-in object-cover" src="//cdn.shopify.com/s/files/1/0090/4128/1109/files/downtime-kpop.jpg?v=1646737465" alt="">
</noscript>

                </div>
              </a>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>


</div>


</div>

{% schema %}
{
  "name": {
      "en": "Downtime Stories Preview"
  },
  "settings": [
    {
      "id": "color_bg",
      "type": "color",
      "label": "Background color",
      "default": "#babcdb"
    }
  ]
}
{% endschema %}
